.home-col-header {
  background-color: #35548b;
  color: white;
  height: 2.3rem;
}

.home-header-text {
  font-size: 0.8rem;
  font-weight: normal;
}

.home-col-top {
  background-color: #598ae7;
  color: white;
}

.home-icon {
  color: #2d4573;
  font-size: 6rem;
}

.home-title {
  font-size: 1.5rem;
}

.home-separation-row {
  background-color: #35548b;
  color: white;
  height: 2rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.home-col-stock-ligth {
  background-color: #4d72b6;
}

.home-col-stock-dark {
  background-color: #3f62a4;
}

.home-symbol {
  color: #2d4573;
  font-weight: bolder;
  font-size: 1.8rem;
}

.home-arrow {
  color: white;
  font-size: 1.2rem;
}

.home-info {
  color: white;
  font-weight: 500;
  font-size: 0.8rem;
}

.home-info-numbers {
  color: white;
  font-weight: 800;
  font-size: 0.9rem;
}
